.main-content {
  height: 100vh;
}
body {
  background-color: rgb(233, 242, 231);
}

.header-category
{
  padding:5vh  12vh 0vh 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.border-box {
  border: 2px solid hsl(0, 17%, 18%);
  height: 80vh;
  width: 180vh;
  margin: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.features{

  box-shadow: 4px 4px  4px 0px rgba(0, 0, 0, 0.1);
  /* transition: box-shadow 0.3s ease; */
}
.main-features{
  padding: 4vh;
}
.features ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5vh;
  font-size: small;
 
}
.features li{
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin: 2vh;
}
.features li:hover{
  border-bottom: 1vh solid green ;
  /* padding-bottom: 2vh; */
  font-weight: bold;
}
.icon svg{
  height: 4vh;
}

@media (max-width: 768px) {
  .border-box {
    margin: 5vh;
    height: 60vh;
  }

  .features {
    margin-top: 2vh;
    font-size: x-small;
  }

  .features ul {
    margin-top: 1vh;
  }

  .features li {
    margin: 0.5vh;
  }

  .icon svg {
    height: 2vh;
  }
}

@media (max-width: 480px) {
  .border-box {
    margin: 2vh;
    height: 50vh;
    font-size: small;
  }
  .spl-box img{
    height: 10vh;
    width: 30vh;
    padding: 0px;
  }
  .features {
    margin-top: 1vh;
    font-size: xx-small;
    
  }

  .features ul {
    margin-top: 0.5vh;
    flex-wrap: wrap ;
   
  }

  .features li {
    margin: 0.2vh;
    padding: 2vh;
  }

  .icon svg {
    height: 1.5vh;
  }
}
h1{
  text-align: center;
  margin-top: 2vh;
}