body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.footer {
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-size: 2vh;
    flex-shrink: 0; /* Prevents the footer from shrinking */
}
